body{
    background-color:	#579CC1;
    color: whitesmoke;
}
#pet-container{
    display: flex;
    flex-grow: 1;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pet-info{
    align-self: stretch; 
    padding: 10px;    
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 20px;
    flex-basis: 30%;
    word-wrap: break-word;
    border:1px dotted grey;
}
.pet-info p{
    font-style:italic;
}
.pet-info img{    
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
.pet-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;  
    align-self: stretch;
}
.all{
    margin-left: auto;
}
.logo{
    font-weight: bold;
}
.pet-info:not(.four), .pet-main p{
    font-style: normal;
    text-align: center;
}
.pet-info .one p{       
    font-weight: bolder;
}
.pet_class { 
    padding: 2px;
    text-decoration:none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    align-self: stretch;
  }
  .allpets{
      margin-right: 20px;
  }
  .dinos{
      background-color: #3D6F66;
  }
  .cat{
    background-color: #728C8C;
  }
  .all{
    background-color: #8C864E;
  }
  .dog{
    background-color: #0A7798;
  }
  .pet-main .four{
      text-align: right;
  }